# Ignore python virtual environments
venv/
dbt-env/
.venv/
saas_analytics/venv/

# Ignore local operating system files
.DS_Store
Thumbs.db

# Ignore dbt logs and compiled target files
logs/
target/
dbt_modules/
dbt_packages/saas_analytics/evidence-app/node_modules/ 
**/node_modules/ 
**/.venv/ 
